body{background:#272822;color:#fff;font-family:'Helvetica Neue',Helvetica,Verdana,Arial}
a,b{color:rgb(102,217,239);text-decoration:none}
hr{border:none;border-top:1px solid #7F8FB1;height:1px}
pre{display:block;padding:8px;border:1px dashed #ccc}
section{display:block;margin:0 auto;max-width:600px}
ul{font-size:smaller}
tt,tt a{font-family:"Courier New",Courier,monospace;color:rgb(249,38,114)}
var{color:rgb(253,151,32)}
p{color:rgb(117,113,74);padding: 0 0 0 25px}